body{
    padding: 0px;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
}

#divBody{
    max-width: 500px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
}

header{
    display: flex;
}

main{
    width: 200px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    height: 300px;
    & section{
        gap: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        & .inputStyles{
            width: 90%;
            padding: 0px;
            height: 20px;
            border: 1px solid ;
        }
    }
}