body{
    background-color: #030331;
    color: white;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #030331;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#links{
    border-top: 2px solid white;
    padding: 5px 2px;
}



span::after{
    content: "OK";
    color: greenyellow;
}

/* ======================= header ====================== */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    width: 1280px;
}

/* ======================= main ====================== */
main{
    max-width: 1280px;
    margin: auto;
}
.ul-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section{
    border: 1px solid lightblue;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

/* ======================= footer ====================== */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==================== responsividade ================ */

#btMobileHeader{
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    .bar{
        width: 80%;
        height: 10%;
        background-color: #fff;
    }
    z-index: 10;
}


@media(max-width: 768px){
    .header{
        flex-wrap: wrap;
    }
    .header{
        justify-content: space-between;
        padding: 0px 20px;
    }
    nav{
        order: 1;
    }
    .ul-header{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #btMobileHeader{
        display: flex;
    }
    #navDesktop{
        display: none;
    }
}
#navMobile{
    position: fixed;
    left: 0; right: 0; top: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #030331f5;
    display: none;                  /* fallback quando não for mobile */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

#navMobile.is-open{
  display: flex; /* sem !important */
}

.ul-navMobile{
    display: flex;
    flex-direction: column;
}

.bt-fixed{
    position: fixed !important;
    left: 10;
    right: 20px;
}