    /* Reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: darkblue;
  color: white;
  padding: 20px;
}

header {
  background-color: #0077cc;
  color: white;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  margin-top: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8em;
  color: #666;
}

/* ======================== FlexBox ========================= */

.container{
  display: flex;
  background-color: #666;
  gap: 10px;
  height: 600px;
  /*abrevia flexwrap e flex direction*/
  /* flex-flow: row wrap;  */
  /* justify-content: center; */
  align-items: start;
}

.item{
  width: 200px;
  height: 200px;
  background-color: brown;
}
.item3{
  /*ordem: grow, shrink, basis*/
  /* flex: 2 2 30px;  */
  /* flex-basis: 100px; */
  /* flex-shrink: 3; */

  align-self: flex-end;
  order: 2;
}
.item6{
  /* flex-grow: 2; */
  order: 3;
}