h1{
  color: red;
}

h2{
  color: red;
}

body{
  background-color: rgb(4, 47, 61);
}

header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button{
  padding: 5px;
  a{
    text-decoration: none;
  }
  border-radius: 10px;
}
/* Celulares */
@media(max-width: 500px){
  h1{
    color: green;
  }
  h2{
    color: green;
  }
}
/* Tablets */
@media(max-width: 600px){
h1{
    color: yellow;
  }
  h2{
    color: yellow;
  }
}

/* orientacao horizontal */
/* quando o tamanho horizontal for maior que o vertical */
@media(orientation: landscape){
  h1{
    color: blue;
  }
  h2{
    color: blue;
  }
}