.exHeader{
    gap: 2px;
    display: flex;
    height: 50px;
}

.H2{
    height: 80%;
    background-color: blanchedalmond;
}

.Logo{
    flex-grow: 2;
}
.Input{
    flex-grow: 8;
}
.button{
    flex-grow: 2;
}

.containerConteudo1{
    display: flex;
    flex-flow: row wrap;
}


.box1{
    flex: 5 5 200px;
}

.box2{
    flex: 7 7 200px;
}

.containerConteudo2{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.box{
    width: 100px;
    height: 50px;
    background-color: red;
}