
body{
    height: 100vh;
    background-image: linear-gradient(100deg, rgb(254, 255, 172), rgb(226, 1, 1));
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header{
    text-align: center;
}
main{
    display: flex;
    border-radius: 12px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 400px;
    background-color: rgba(240, 248, 255, 0.075);
    backdrop-filter: blur(100px);
    height: 500px;
    & section{
        text-align: center;
        & button{
            background-color: black;
            border: 0;
            color: white;
            padding: 5px 20px;
            border-radius: 10px;
            transition: .2s;

        }
        & button:hover{
            box-shadow: 0px 1px 10px black;
        }
        & button:active{
            border: 1px solid white;
        }
    }
}