#pokedex{
    background-image: url(i-made-a-pokedex-out-of-cardstock-i-made-these-for-party-v0-ycj2k0v0s2sd1.png);
    max-width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    & #imgPokemons{
        position: absolute;
        width: 27%;
        height: 26%;
        background-color: black;
        left: 15.2%;
        top: 32.8%;
        border-radius: 5px;
    }
}