body{
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
    & #divBody{
        margin: auto;
        max-width: 500px;
    }
}

header{
    text-align: center;
}

main{
    display: flex;
    margin: auto;
}

section{
    flex-grow: 1;
    width: 100%;
}