body{
  background-color: rgb(4, 47, 61);
}

header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button{
  padding: 5px;
  a{
    text-decoration: none;
  }
  border-radius: 10px;
}