body{
  background:linear-gradient(-45deg,lightblue, aqua, aquamarine, blue);
  background-size: 200%;
  font-family:sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  animation: gradient 30s ease infinite;
}

h1:hover{
  animation: LinkColor 3s infinite ease-in-out;
}



@keyframes gradient{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

@keyframes LinkColor{
  0%{
    color: black;
  }
  50%{
color: red;  }
  100%{
color: black;  }
}

/* .box{

} */

/* 
===== ExTransition ===== 
 - transition-property
 - transition-duration
 - transition-delay
 - transition-time-function{cubic-bezier, ease ease-in...}
*/

 
/*
 ===== ExTransform =====
 - deg = graus
 - translate{px, %...}
 - scale{2 ou 2.5} numero quebrado
 - rotate{turn ou deg}
 - skew{deg}
*/

/* 
===== ExKeyFrames =====
 #Informa Açoes em pontos chaves da Animação
 Ex: 0%(começo), 50%, 100%(fim) ou to from
 - animation-name
 - animation-duration
 - animation-timing-function{cubic-bazier(1, 1, 1, 1), steps(1, 2)}
 - animation-delay
 - animation-direction
 - animation-fill-mode
 - animation-play-state

 -shothand: animation
*/