
/* ======================== Grids ========================= */
/* 
fr = fracao do espaco 
repeat(nColum, tam) =
auto
minmax(min, max)
*/
.container{
  display: grid;
  background-color: rgb(70, 113, 114);
  grid-template-columns: repeat(3, 30%); 
  /*separa os items em colunas*/
  /*separa os items em linhas*/
  /* grid-template-rows: 200px 100px 50px; */
  /* gap:30px;
  justify-items: stretch;
  align-items: ; */
  align-content: center ;
  place-items: center start;
  height: 100vh;
}

.item{
  background-color: lightblue;
  padding: 34px;
  margin: 20px;
  color: rgb(75, 19, 19);
  border-radius: 10px;
}

/* display grid-template-areas */

/* 
grid-row: informa em qual linha o elemento fica
grid-column: informa em qual coluna o elemento fica
span: informa se o elemento vai ocupar x colunas
justify-self: informe onde o elemento fica na pagina, horizontal
align-self? informa onde o elemento fica na pagina, vertical
*/

#container-simu{
  display: grid;
  grid-template-areas: 
    'header header'
    'aside article'
    'section section'
    'footer footer'
  ;
  gap: 30px;
  grid-auto-rows: 200px 100px;
  margin: 5px 0px;
}

.ExHeader{
    grid-area: header;
    background-color: blueviolet;
}

.ExAside{
  grid-area: aside;
  background-color: violet;
}
.ExArticle{
  grid-area: article;
  background-color: blue;

}
.ExSection{
  grid-area: section;
  background-color: yellow;

}
.ExFooter{
  grid-area: footer;
  background-color: green;

}

.ExLayout{
  display: grid;
  place-items: center;
  border: 1px solid black;
  border-radius: 5px;

}

/* .item2{
  height: 50px;
} */